# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
.env

# Data and Checkpoints (QUAN TRỌNG NHẤT)
# Git sẽ tự động "làm ngơ" các file dữ liệu nặng và file trọng số mô hình
# Tránh trường hợp bạn lỡ tay gõ 'git add .' và tải file 10GB lên GitHub làm treo máy.
data/
datasets/
checkpoints/
*.pth
*.pt
*.ckpt

# IDEs
.vscode/
.idea/
*.swp
*.swo
dataset
sidewalk_images